.notes {
  position: relative;

  h3 {
    text-shadow: none;
    margin: 0;
    cursor: initial;
    user-select: none;
  }

  &:hover .notescontainer {
    visibility: visible;
  }
}

.notescontainer {
  padding: 15px;
  visibility: hidden;
  background-color: var(--background);
  color: var(--modal-text);
  text-align: center;
  border-radius: 12px;
  position: absolute;
  top: 80%;
  margin-left: -150px;

  svg {
    float: left;
  }

  ::placeholder {
    color: #636e72;
    opacity: 1;
  }
}

textarea {
  border: none;
  resize: none;
  background: none;
  width: 200px;
  height: 100px;
  margin: 10px;
}

.topbarnotes {
  svg {
    font-size: 46px;
    padding: 9px;
  }

  h3 {
    font-size: 46px;
    margin-right: 20px;
  }
}

.dark textarea {
  background-color: #2f3542;
  color: white;
}
