@import 'notes';
@import '../../../../scss/variables';

.navbar-container {
  position: absolute;
  top: 1rem;
  right: 1rem;

  div {
    display: inline;
  }

  img {
    height: 1em;
    width: auto;
    margin: 0.5rem;
  }

  svg.topicons {
    color: map-get($theme-colours, 'main-text-color');
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 1em;
    margin: 0.5rem;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      color: map-get($theme-colours, 'main-text-color');
      transform: translateZ(0);
      transform: scale(1.3);
    }
  }
}

.visibilityshow {
  visibility: visible !important;
}

.navbar-hidden {
  position: absolute;
  width: 50vw;
  right: 0;
  top: 0;
  background: none;
  height: 75px;

  +.navbar-container {
    display: none;
  }

  &:hover {
    display: block;

    +.navbar-container {
      display: block !important;
    }
  }
}
