%settingsButton {
  transition: ease 0.33s;
  color: map-get($theme-colours, 'main');
  cursor: pointer;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 24px;
  box-shadow: 0 5px 15px rgba(128, 161, 144, 0.4);

  &:hover,
  &:active {
    outline: none;
    background: none;
  }
}

.dark %settingsButton {
  box-shadow: none;
}

.pinNote {
  @extend %settingsButton;

  background-color: map-get($button-colours, 'confirm');
  border: 2px solid map-get($button-colours, 'confirm');
  color: map-get($theme-colours, 'main');
  transition: 0s;

  &:hover {
    color: map-get($button-colours, 'confirm');
  }

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
  }
}

.copyNote {
  @extend %settingsButton;

  background-color: map-get($button-colours, 'other');
  border: 2px solid map-get($button-colours, 'other');
  color: map-get($theme-colours, 'main');
  transition: 0s;
  display: inline;
  margin: 5px;

  &:hover {
    color: map-get($button-colours, 'other');
  }
}
