#item a {
  color: var(--modal-link);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.emptyitems {
  width: 25vw;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.items {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 15px;

  .item {
    position: relative;
    border-radius: 12px;
    height: 80px;
    width: 260px;
    background: var(--sidebar);
    transition: 0.5s;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0 0 6px rgb(0 0 0 / 30%);

    img {
      height: 80px;
      width: 80px;
      border-radius: 12px 0 0 12px;
      background: white;
    }

    h4 {
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
    }

    img,
    .details {
      display: inline;
    }

    .details {
      position: absolute;
      left: 85px;
      top: -15px;

      img {
        margin-left: 10px;
        height: 15px;
      }
    }

    p {
      margin-top: 5px;
      line-height: 20px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 2100px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1870px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1079px), (max-width: 1869px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

p.author {
  margin-top: -5px;
}

#item {
  h1 {
    font-size: 40px;
    line-height: 20px;
  }
}

#item>h1,
#item>.MuiSvgIcon-root {
  display: inline;
}

p.description {
  margin-top: 0px;
  max-width: 400px;
}

.emptyMessage {
  text-align: center;
  background: var(--sidebar);
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  position: absolute;
  width: 300px;

  svg {
    font-size: 50px;
    margin-bottom: -20px;
  }
}

.backArrow {
  cursor: pointer;
  width: 2rem !important;
  height: 2rem !important;

  &:hover {
    color: grey;
  }
}

.informationContainer {
  margin-top: 20px;
}

.productInformation {
  padding: 10px;
  background: var(--sidebar);
  width: 350px;
  border-radius: 12px;

  h4 {
    cursor: initial !important;
  }

  li {
    margin-left: -4px;
    list-style: none;
    font-size: 16px;
    cursor: initial !important;

    &.header {
      text-transform: uppercase;
      color: #787878;
      margin-left: -5px;
    }
  }
}

#item>img, .updateimage, .updatechangelog>p>img {
  border-radius: 12px;
  height: 200px;
  width: auto;
  cursor: pointer;
}

.featured {
  margin-top: 40px;
  border-radius: 15px;
  padding: 50px;
  color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  width: 85%;

  button {
    float: left;
    margin-top: -7px;
    border: 2px solid map-get($theme-colours, 'main');
    color: map-get($theme-colours, 'main');

    &:hover {
      background: map-get($theme-colours, 'main');
      color: #2d3436;
    }
  }

  h1 {
    margin-top: -20px;
  }
}

.lightboxmodal {
  margin: auto;
  max-width: 60%;
  background: none !important;
  box-shadow: none !important;

  img {
    height: auto;
    width: 100%;
  }

  .closeModal {
    color: #fff;
    text-shadow: 0 0 20px rgb(0 0 0 / 30%);
  }
}
