@import 'variables';
@import 'themes';

@import 'modules/toast';
@import 'modules/buttons';

body {
  background: #000;
  margin: 0;
  overflow: hidden;
}

* {
  font-family: 'Lexend Deca', 'Montserrat' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

#center {
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: map-get($theme-colours, 'main');
  opacity: 1;
}

::selection {
  background-color: #c2c2c2;
}

#root {
  min-height: 100vh;
  display: grid;
  color: map-get($theme-colours, 'main-text-color');
}
