@import '../main/scss/index.scss';

.welcomemodal {
  margin-top: 40px;
}

.welcomeModalText {
  line-height: 2px;

  h2.subtitle {
    font-size: 24px;
    color: var(--modal-text);
    text-transform: uppercase;
  }

  h1.welcometitle {
    font-size: 50px;
  }
}

.welcomeContent {
  margin-top: 2em;
  text-align: center;
  padding: 25px;

  a {
    text-decoration: none;
    line-height: 20px !important;
    color: var(--modal-link);
    cursor: pointer;
  }

  img.icon,
  svg {
    margin-top: -12px;
    padding: 10px;
    cursor: pointer;
    transition: ease 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    margin-top: 0.7rem;
    line-height: 1em;
  }

  img,
  svg {
    height: 24px;
    width: auto;
  }
}

.welcomeLink {
  color: var(--modal-text) !important;
}
